<launch>
	
	<arg name="device_id" default="1" />
	<arg name="calibration_left" default="False" />
	<arg name="calibration_right" default="False" />

	<node pkg="go1_republisher" name="camera_republisher" type="camera.py" output="screen">
		<param name="device_id" value="$(arg device_id)"/>
		<param name="calibration_left" value="$(arg calibration_left)"/>
		<param name="calibration_right" value="$(arg calibration_right)"/>
	</node>
</launch>
