<launch>

	<!--
		camera_names:
		  - camera_face: jetson13, id=1
		  - camera_chin: jetson13, id=0
		  - camera_left: jetson14, id=0
		  - camera_right: jetson14, id=1
		  - camera_rearDown: jetson15, id=0
	!-->
	
	<arg name="camera_name" default="camera_face" />

	<node pkg="image_proc" type="image_proc" name="image_proc" ns="$(arg camera_name)"></node>

</launch>
